*{
    margin: 0;
    padding: 0;
}
::selection {
    background-color: var(--primary-color); /* Change to your desired background color */
    color: #fff; /* Change to your desired text color */
}
:root{
    --main-font: Barlow Condensed;
    --second-font: Barlow;
    --third-font: teko;
    --bg-main-load: url(../images/square-pattern.svg);
    --primary-color: #A78D6B;
    --text-color: #7A7A7A;
    --overlay-opacity: 0.1;
    --secondary-color: #333
}
li{
    list-style: none;
}
a{
    color: #000000A6;
    text-decoration: none;
    font-family: sans-serif;
}
h1{
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    font-family: var(--third-font);
}
h2{
    font-family: var(--third-font);
    font-size: 50px;
    font-weight: normal;
    line-height: 47px;
    letter-spacing: 0.5px;
}
h3{
    font-size: 34px;
    line-height: 1.1em;
    color: #000;
    font-family: var(--third-font);
    font-weight: 400;
}
h3 span{
    color: var(--primary-color);
}
h6{
    font-family: var(--second-font);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 1.3px;
}
p{
    color: #6c6c6c;
    font-family: var(--second-font);
    font-size: 17px;
    line-height: 1.8em;
}
.container{
    width: 84.508%;
    margin: 0 auto;
    overflow: hidden;
}
.second-container{
    width: 92.588%;
    margin: 0 auto;
}
button{
    background: none;
    border: none;
}
.header-wrapper{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    z-index: 999;
}
.header-shadow {
    box-shadow: -2px 3px 90px -20px rgba(0, 0, 0, .25);
}
.header-wrapper.scroll-up {
    transform: translateY(0);
}

.header-wrapper.scroll-down {
    transform: translateY(-100%);
}

.nav-section, .navigation, .navbar ul, .search-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.navbar ul{
    justify-content: space-between;
    gap: 30px;
}
.navbar li{
     position: relative;
     padding: 34px 0; 
}
.navbar a{
    font-family: var(--second-font);
    font-size: 15px;
    font-weight: 500;
    padding: 34px 0; 
    transition: all ease-in-out 0.3s;
}
.navbar span {
    position: relative;
}

.navbar span::after {
    content: "";
    display: inline-block;
    height: var(--nav-underline-height, 2px);
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 15px;
    background-color: #000000A6;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.85s cubic-bezier(0.23, 1, 0.32, 1);
}
.navbar a:hover{
    color: #000;
}
.navbar a:hover span::after{
    background-color: #000;
}
.navbar a:hover span::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar li:first-child span::after {
    transform: scaleX(1);
}
.dropdown{
    position: absolute;
    top: 95px;
    left: -12px;
    width: 300%;
    padding: 20px 40px;
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.027);
}
.dropdown ul{
    display: block;
}
.dropdown li{
 padding: 10px 0;
}
.dropdown a{
    color: #fff;
    color: #a1a1a1;
    padding: 8px 0;
}
.navbar li:hover .dropdown{
    opacity: 1;
    top: 86px;
    pointer-events: all;
}
.search-navigation{
    gap: 10px;
    margin-left: 15px;
}
/* search drop section starts */
.search{
    position: relative;
}
.search-btn, .search-btn-custom, .language-btn{
    padding: 24px;
    border-radius: 50%;
    border: 1px solid #00000033;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.search .main-search, .search span{
    position: absolute;
    right: 15px;
    top: 16px;
    transition: 0.3s;
}
.search span{
    font-family: var(--second-font);
}
.search i{
    font-size: 16px;
    transition: 0.3s;
    pointer-events: none;
}
.search svg{
    position: absolute;
    top: 12px;
    right: 11px;
    fill: #000;
    transition: 0.3s;
    pointer-events: none;
}
.search button:hover, .search-btn-custom:hover {
    background-color: #000;
    border: 1px solid #000;
}

.search button:hover .main-search,
.search button:hover span,
.search button:hover svg,
.search-btn-custom:hover i {
    color: #fff;
    fill: #fff;
}

.search-bar input{
    padding: 10px 20px 10px 30px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 14px;
    letter-spacing: .025em;
    width: 100%;
}
.search-bar{
    display: flex;
    align-items: center;
    padding: 30px;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
}
.search:first-child .search-bar{
    width: 298px;
}
.language .search-content-container{
    left: 0;
    width: 420%;
  }
.search-content-container {
    overflow-y: hidden;
    max-height: 0;
    transition: all 0.5s;
    position: absolute;
    right: -13px;
    top: 67px;
  }
.search-bar input:focus{
    outline: none;
}
.search-bar i{
    position: absolute;
    opacity: 0.6;
}
.language .search-bar{
    padding: 20px 30px;
}
.search-bar li{
    padding: 8px 0;
}
.search-bar a{
    font-size: 14px;
    color: #262626;
    position: relative;
}
.search-bar a::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: var(--nav-underline-height, 2px);
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 15px;
    background-color: #000000A6;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.search-bar a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
/* search drop section ends */
/* sidebar section starts */
.sidebar {
    width: 48%;
    position: fixed;
    z-index: 3;
    top: 0;
    right: -700px;
    background-color: #fff;
    overflow-y: scroll;
    transition: 0.5s;
    box-shadow: -10px 0 15px rgb(100 100 100 / 11%);
    height: 100vh;
    overflow-x: hidden;
}

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidebar-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 85px;
    z-index: 4;
  }
  .sidebar-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.05;
    pointer-events: none;
    background-image: url(../images/square-pattern.svg);
  }
  .sidebar-wrapper li{
    padding: 5px 0;
    position: relative;
  }
  .sidebar-wrapper li:first-child::before{
    content: "";
    width: 125px;
    height: 12px;
    position: absolute;
    top: -17px;
    left: 0;
    background-image: url(../images/download.svg);
    background-size: 12px;
 }
  .sidebar-wrapper a{
    font-size: 42px;
    line-height: 59px;
    color: #646464;
    font-family: var(--second-font);
    transition: 0.3s;
  }
  .sidebar-wrapper a:hover{
    color: #000;
  }
  .address-contact{
    padding-top: 50px;
  }
  .address-contact span{
    font-family: sans-serif;
    font-size: 13px;
    color: #919191;
  }
  .address-contact p{
    padding-top: 30px;
    line-height: 20px;
  }
  .sidebar-social-media-btn{
    display: flex;
    gap: 20px;
    padding-top: 60px;
  }
  .sidebar-social-media-btn button{
    padding: 30px;
  }
  .sidebar-social-media-btn i{
    position: absolute;
    left: 22px;
    top: 20px;
    font-size: 17px;
  }
/* sidebar section ends */
.contact-btn button {
    font-size: 14px;
    font-family: var(--second-font);
    font-weight: 500;
    border: 1px solid #c5c5c5;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 14px 30px;
    border-radius: 4px;
}

.contact-btn button i {
    font-size: 10px;
    margin-left: 5px;
    z-index: 2;
    transition: 0.3s;
}
.contact-btn button {
    position: relative;
    cursor: pointer;
}
/* Hover Overlapping Background */
.opencontactbtn span::before {
    content: attr(data-text);
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: -6px;
    bottom: 1px;
    background-color: #fff;
    color: #000;
    padding: 14px 36px;
    border-radius: 4px;
    transition: transform 0.7s cubic-bezier(.6, 0, .15, 1), opacity 0.7s cubic-bezier(.6, 0, .15, 1);
}
.opencontactbtn span:hover::before {
    transform: translateY(-100%);
    opacity: 1;
}
/* Main Button */
.opencontactbtn span::after {
    z-index: 0;
    content: attr(data-text);
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: -35px;
    top: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 14px 30px;
    border-radius: 4px;
    transform: translateY(100%);
    transition: transform 0.7s cubic-bezier(.6, 0, .15, 1), opacity 0.7s cubic-bezier(.6, 0, .15, 1);
}

.contact-btn button:hover span::after {
    transform: translateY(0);
}

.contact-btn button:hover i{
    color: #fff;
}
.contact-sidebar {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #fff;
    top: -750px;
    transition: top 0.5s ease-in-out;
    z-index: 3;
}
.contact-sidebar-content{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    background-color: #fff;
    padding: 0 100px;
}
.drop-us-line-btn{
    border: 1px solid #bcbcbc;
    width: 214.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63.5px;
    position: relative;
    margin: 40px 0;
    transition: 0.3s;
}
.drop-us-line-btn p{
    font-size: 15px;
    color: #000;
    transition: 0.3s;
}
.drop-us-line-btn span{
    width: 10px;
    border: 1px solid;
    height: 10px;
    position: absolute;
    transition: 0.3s;
}
.drop-us-line-btn span:nth-child(2){
    left: -11px;
    top: -11px;
    border-right: 0;
    border-bottom: 0;
    transform: rotate(180deg);
}
.drop-us-line-btn span:nth-child(3){
    right: -11px;
    top: -11px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(180deg);
}
.drop-us-line-btn span:nth-child(4){
    left: -11px;
    bottom: -11px;
    border-top: 0;
    border-right: 0;
    transform: rotate(180deg);
}
.drop-us-line-btn span:nth-child(5){
    right: -11px;
    bottom: -11px;
    border-top: 0;
    border-left: 0;
    transform: rotate(180deg);
}
.drop-us-line-btn:hover{
    background-color: #000;
}
.drop-us-line-btn:hover p{
    color: #fff;
}
.drop-us-line-btn:hover span{
    width: 12px;
    height: 12px;
}
.drop-us-line-btn:hover span:nth-child(2){
    left: -12px;
    top: -12px;
}
.drop-us-line-btn:hover span:nth-child(3){
    right: -12px;
    top: -12px;
}
.drop-us-line-btn:hover span:nth-child(4){
    left: -12px;
    bottom: -12px;
}
.drop-us-line-btn:hover span:nth-child(5){
    right: -12px;
    bottom: -12px;
}
.left-content h6{
    font-size: 10px;
    font-style: italic;
    line-height: 17px;
    color: #0000004D;
    font-family: var(--second-font);
}
.address-wrapper{
    display: flex;
    justify-content: space-between;
}
.address-wrapper .address-contact{
    padding-top: 30px;
}
.address-wrapper .address-contact span{
    color: #6c6c6c;
}
.address-wrapper .address-contact p{
    color: #919191;
    font-size: 13px;
}
.left-content .sidebar-social-media-btn button{
    border-radius: 50%;
    padding: 26px;
    border-color: #ededed;
    transition: 0.4s;
}
.left-content .sidebar-social-media-btn i{
    left: 16px;
    font-size: 13px;
}
.left-content .sidebar-social-media-btn button:hover{
    background:none;
    border-color: #252525;
}
.left-content .sidebar-social-media-btn button:hover i{
    color: #000;
}
.contact-btn .closecontactbtn{
    padding: 0;
    border: 0;
    background:none;
    position: fixed;
    right: 20px;
    top: 20px;
    opacity: 0;
    transition: 0.3s;
}
.contact-btn .closecontactbtn i{
    font-size: 22px;
    color: #6c6c6c;
}
.contact-btn .closecontactbtn:hover i{
    color: #6c6c6c;
}
.right-content{
    width: 50%;
}
.input-form{
    padding: 20px 0;
}
.input-form p{
    color: #081B22;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.input-form input{
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    color: #2F2F2F54;
    border: none;
    height: 50px;
    border-bottom: 1px solid #c6c6c6;
    transition: 0.3s;
}
.input-form input::placeholder{
    color: #cecece;
}
.input-form input:focus{
    outline: none;
    color: #000;
}
.right-content .input-form textarea{
    resize: vertical;
    height: 110px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #c6c6c6;
}
.right-content .input-form textarea:focus{
    outline: none;
}
.right-content .input-form textarea::placeholder{
    font-family: sans-serif;
    color: #cecece;
    font-size: 15px;
}
.checkbox{
    display: flex;
    align-items: center;
    margin: 15px 0;
    cursor: pointer;
}
/* Style for unchecked checkbox */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #b3b3b3;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin-right: 10px;
}

/* Style for checked checkbox */
input[type="checkbox"]:checked {
    border-color: #b3b3b3;
    background-color: #fff;
}

/* Style for custom tick mark */
input[type="checkbox"]:checked::before {
    content: '\2713';
    font-size: 14px;
    color: #474747;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
}
.right-content button{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000;
    color: #c7c7c7;
    height: 60px;
    border: none;
    border-radius: 0;
    transition: 0.3s;
    margin-top: 30px;
}
.right-content button:hover{
    transform: translateY(-1px);
    box-shadow: 0 10px 35px rgba(0,0,0,.125);
}
/* style for hamburger icon */
.hamburger-icon{
    display: none;
    height: 18px;
    width: 27px;
    cursor: pointer;
}
  .menu__line {
    transition: all 0.2s ease-in-out;
    background: #000;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
  }
  .menu__line--1{
    width: 16px;
  }
  .menu__line--3{
    width: 10px;
  }
  .menu__line--2 {
    /* Transition and shared styles for line 2 */
    transition: transform 0.2s ease-in-out;
  }
  
  .menu__line--2:before {
    /* Styles for the pseudo-element */
    content: '';
    position: absolute;
    width: 25px;
    height: 2px; /* Example value, adjust as needed */
    background-color: #000; /* Example color, adjust as needed */
    border-radius: 2px; /* Example radius, adjust as needed */
    transition: transform 0.2s ease-in-out;
  }
  
  /* Open state styles */
  .menu.menu--close4.open .menu__line--1 {
    opacity: 0;
    transform: translate3d(-40px, 0, 0); /* Example value, adjust as needed */
  }
  
  .menu.menu--close4.open .menu__line--2 {
    transform: rotate(45deg);
  }
  
  .menu.menu--close4.open .menu__line--2:before {
    transform: rotate(-90deg);
  }
  
  .menu.menu--close4.open .menu__line--3 {
    opacity: 0;
    transform: translate3d(40px, 0, 0); /* Example value, adjust as needed */
  }
  
  .menu-content {
    position: absolute;
    top: 85px; /* Initial top position above the viewport */
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255); /* Add a semi-transparent background */
    color: #333;
    height: 0;
    opacity: 0; /* Initial opacity is 0 */
    transition: top 0.5s ease-in-out, height 0.2s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 9999; /* Set a high z-index to overlap everything */
    pointer-events: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a bottom shadow */
    overflow: hidden;
}
.menu.open .menu-content {
    pointer-events: all;
    height: 260px;
    opacity: 1; /* Show content when height is not 0 */
}

.menu-content li{
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
}
.menu-content li a{
    color: #333333;
    padding: 0 24px;
    font-family: var(--second-font);
    font-weight: 500;
}
.project-heading{
    color: #333;
    padding: 18px 24px !important;
    font-family: var(--second-font);
    font-weight: 500;
}
.project-details a{
    font-size: 14px;
}
.project-details{
    display: none;
}
.project-a-tag{
    font-size: 15px ;
    padding-left: 0 !important;
}
.project-details{
    padding: 10px 0;
}
.project-details li{
    padding: 5px 35px;
    border: none;
}
.project-heading p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
    position: relative;
}
.project-heading span{
    padding: 10px;
    background: #eaeaea;
    position: absolute;
    right: 0;
}
/* style for hamburger icon */
.services-title{
    padding: 60px 0;
    background-image: url(../images/title-wrapper-bg.svg);
    margin-top: 85px;
}
.title-wrapper{
    display: flex;
    justify-content: space-between;
}
.services-title p{
    font-size: 17px;
    line-height: 1.8em;
    width: 50%;
}
.about-us{
    padding: 70px 0;
    background-image: url(../images/ArchImage2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.about-us h3{
    width: 80%;
}
.about-us h6{
    padding: 7px 10px;
    width: fit-content;
    background: #eaeaea;
    border-radius: 2px;
    margin-bottom: 10px;
}
.services-list{
    display: flex;
    justify-content: end;
    padding-top: 50px;
}
.services-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 78.3%;
}
.services-list li {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.125em;
    font-family: var(--second-font);
}
.services-list li i {
    margin-right: 5px;
    font-size: 10px;
    color: #7a7a7a;
}
.works{
    overflow: hidden;
    margin: 50px 0;
}
.works-container{
    padding: 96px 0;
    background-image: url(images/section-bg-1.jpeg);
    background-position: center left;
    background-size: 75% auto;
    background-repeat: no-repeat;

    display: flex;
}
.width-container{
    width: 40%;
    height: 50px;
}
.works-wrapper{
    width: 40.4%;
    box-shadow: 3px 0px 33px 0px rgba(0, 0, 0, 0.06);
    padding: 40px 50px 50px 50px;
    background-color: #fff;
    border-radius: 5px;
    transform: translate3d(361.203px, 0px, 0px);
    will-change: transform;
    transition: transform 0.3s ease;
}
.works h6{
    padding: 7px 10px;
    width: fit-content;
    background: #eaeaea;
    border-radius: 2px;
    margin-bottom: 10px;
}
.works .works-wrapper{
    transform: translate3d(-63.797px, 0px, 0px);
}
.works h3{
    font-size: 43px;
    margin-bottom: 50px;
}
.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.accordion-item {
    border-bottom: 1px solid #e9e9e9;
}
.accordion-item-header {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordion-item h4{
    font-size: 24px;
    font-family: var(--third-font);
    font-weight: 400;
}
.accordion-item-content p {
    padding: 10px;
    font-size: 15px;
    color: #a5a5a5;
    line-height: 1.7;
}
.achievements{
    padding-top: 50px;
    background-image: url(images/Pattern.svg);
    background-position: top right;
    background-repeat: no-repeat;
    margin: 70px 0;
}
.achievement-container{
    padding: 2px 0;
    border-top: 1px solid #9d9d9d;
}
.achievement-wrapper{
    display: flex;
    gap: 40px;
}
.achievement-1{
    position: relative;
    padding: 30px 0;
    width: 30%;
}
.achievement-1::before{
    position: absolute;
    content: '';
    height: 6px;
    width: 6px;
    background-color: #000;
    border-radius: 50%;
    top: -5px;
    left: 0;
}
.achievement-1 h3{
    width: 54%;
}
.achievement-1 p{
    line-height: 23px;
    letter-spacing: 0.08px;
    color: #757683;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
}
.about-us-section{
    margin-bottom: 60px;
}
.about-us-section .works-container{
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 75% auto;
    background-image: url(images/about-img.jpeg);
    justify-content: end;
    padding: 60px 0;
}
.about-us-section .works-wrapper{
    transform: translate3d(100.797px, 0px, 0px);
}
.about-us-section h3{
    margin-bottom: 10px;
}
.about-us-section p{
    margin-bottom: 40px;
}
.quotes{
    padding: 20px 0;
}
.quotes-wrapper{
    display: flex;
    gap: 20px;
}
.quote-1{
    background-image: url(images/quote.svg);
    background-position: top left;
    background-repeat: no-repeat;
    padding: 50px 0;
    width: 40%;
}
.quote-1 p{
    font-size: 15px;
    color: #202020;
    padding: 0 20px;
}
.quote-1 h5{
    font-family: var(--third-font);
    font-weight: 400;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 1px;
    padding:  0 20px;
    padding-top: 30px;
}
.contact-section .works-container{
    background-image: url(images/contact-img.jpg);
    padding: 77px 0;
    background-size: 45% ;
}
.contact-section h2{
    font-size: 43px;
    line-height: 47px;
    margin-bottom: 30px;
}
.contact-section h3{
    font-size: 31px;
    position: relative;
    width: fit-content;
    margin-bottom: 30px;
}
.contact-section h3::after{
    content: '';
    width: 50%;
    bottom: -10px;
    left: 0;
    height: 2px;
    position: absolute;
    background-color: #333;
}
.contact-section p{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 40px;
}
.contact-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
.contact-input input{
    width: 279px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #c9c9c9;
    font-size: 14px;
    transition: all 0.3s;
}
.contact-input input::placeholder{
    color: #333333;
}
.contact-input input:focus{
    outline: none;
    border-color: #000;
}
.contact-section .checkbox p{
    margin: 0;
    font-size: 12px;
}
.contact-section button{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #000;
    color: #c7c7c7;
    height: 60px;
    border: none;
    border-radius: 0;
    transition: 0.3s;
    margin-top: 30px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.contact-section button:hover{
    transform: translateY(-1px);
    box-shadow: 0 10px 35px rgba(0,0,0,.125);
}
.contact-section .works-wrapper{
    width: initial;
}
    .footer{
    background-color: #1f1f1f;
    position: relative;
    padding: 100px 0 50px 0;
}
.footer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.02;
    pointer-events: none;
    background-image: url(../images/pattern-1.png);
}
.footer-wrapper{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.footer h5{
    font-family: var(--second-font);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 1.3px;
    color: #fff;
}
.email-log-in{
    width: 33%;
}
.email-log-in p{
    font-size: 13px;
    font-weight: 600;
    padding: 20px 0 40px 0;
    line-height: 1.7em;
    color: #898989;
}
.log-in{
    display: flex;
    justify-content: space-between;
}
.log-in input{
    background: none;
    border: none;
    color: #fff;
    border-bottom: 1px solid #424242;
    padding: 10px 30px 10px 0;
    font-size: 14px;
    width: 68%;
    transition: 0.2s;
}
.log-in input:focus{
    outline: none;
    border-color: #fff;
}
.log-in input::placeholder{
    color: #fff;
    font-weight: 500;
}
.log-in button{
    padding: 25px;
    border-radius: 50%;
    background: none;
    border: 1px solid #666;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    transition: all 0.5s;
}
.log-in i{
    color: #fff;
    font-size: 13px;
    transition: 0.2s;
    position: absolute;
    top: 18px;
    left: 20px;
}
.log-in button:hover{
    background-color: #fff;
}
.log-in button:hover i{
    color: #1e1e1e;
    left: 22px;
}
.phone-number{
    padding: 40px 0 60px 0;
}
.footer-contact{
    width: 28%;
}
.footer-contact p{
    font-size: 13px;
    color: #787878;
    margin-bottom: 10px;
}
.footer-contact span{
    color: #fff;
    font-size: 18px;
    font-family: 'Barlow';
    font-weight: 500;
}
.footer-menu ul{
    padding-top: 30px;
}
.footer-menu li{
    padding: 5px 0;
}
.footer-menu li a{
    font-family: 'Barlow';
    FONT-WEIGHT: 500;
    color: #a5a5a5;
    transition: 0.2s;
}
.footer-menu a:hover{
    color: #f0f0f0;
}
.footer .container:nth-child(2){
    display: flex;
    justify-content: space-between;
    padding: 55px 0 0px 0;
    border-top: 1px solid #424242;
    margin-top: 90px;
}
.footer-social-media ul{
    display: flex;
    gap: 12px;
    align-items: center;
}
.footer-social-media a{
    border: 1px solid transparent;
}
.footer-social-media a{
    padding: 16px 24px;
    border-radius: 50%;
    border: 1px solid #666;
    position: relative;
    transition: 0.3s;
}
.footer-social-media a svg {
    fill: #ACACAC;
    transition: 0.3s;
}
.footer-social-media i{
    font-size: 15px;
    font-size: 15px;
    position: absolute;
    right: 16px;
    transition: 0.3s;
    color: #ACACAC;
}
.footer-social-media a:hover{
    background-color: #fff;
    border: 1px solid #fff;
}
.footer-social-media li:last-child a{
    padding: 16px;
}
.footer-social-media a:hover i{
    color: #333;
}
.footer-social-media a:hover svg{
    fill: #333;
}
.footer .second-container p{
    font-size: 13px;
    font-weight: 600;
    color: #7a7a7a;
}
.call-button{
    width: 66px;
    position: fixed;
    bottom: 60px;
    left: 20px;
    transition: all 0.6s;
}
.call-button a{
    padding: 20px 29px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 3px 0px 66px 0px rgba(0, 0, 0, 0.27);
    position: relative;
}
.call-button i{
    position: absolute;
    top: 21px;
    left: 22px;
    font-size: 15px;
}
.call-button.move-left {
    left: -70px;
}
.back-to-top-container{
    position: fixed;
    bottom: 0px;
    right: 30px;
}
.back-to-top {
    z-index: 999;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
    padding: 24px;
    border-radius: 50%;
    box-shadow: 0 0 30px -2px rgba(0,0,0,.15);
    transition: all 0.3s;
    pointer-events: none;
    opacity: 0;
    position: relative;
    overflow: hidden;
}
.back-to-top.show {
    opacity: 1;
    pointer-events: all;
    bottom: 40px;
}
.back-to-top .overlap{
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 55px;
    height: 0px;
}
.back-to-top span{
    position: absolute;
    z-index: 999;
    left: 19px;
    top: 16px;
    mix-blend-mode: difference;
}
.back-to-top i{
    font-size: 12px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.back-to-top span {
    position: absolute;
    z-index: 999;
    left: 19px;
    top: 16px;
    mix-blend-mode: difference;
  }
  
  .back-to-top i {
    font-size: 12px;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  /* Add animation for hovering */

  
  /* Apply the bounce animation */
  .back-to-top:hover i {
    animation: bounce 0.6s both;
  }
  
  @keyframes bounce {
    0% { transform: translateY(0); opacity: 1; }
    20% { opacity: 1; }
    40% { transform: translateY(-10px); opacity: 0; }
    60% { transform: translateY(15px); opacity: 0; }
    80% { opacity: 1; }
    100% { transform: translateY(0px); opacity: 1; }
  }
  @media screen and (max-width: 1000px){
    h2{
        font-size: 38px;
    }
    h3{
        font-size: 32px;
    }
    .hamburger-icon{
        display: block;
    }
    .navigation{
        display: none;
    }
    .nav-section{
        padding: 27px 0;
    }
    .services-title{
        padding: 30px 0;
    }
    .contact-section .works-container{
        align-items: center;
        background-size: 110%;
        justify-content: center;
    }
    .works-wrapper {
        transform: none !important;
        width: 80% !important;
    }
    .header{
        height: 85px;
    }
    .menu-content{
        top: 85px;
    }
    .services-title{
        margin-top: 0;
    }
  }
  @media screen and (max-width: 700px){

    .header{
        height: 68px;
    }
    .menu-content{
        top: 68px;
    }
    .title-wrapper{
        flex-direction: column;
    }
    .services-title p {
        font-size: 15px;
        line-height: normal;
        width: 100%;
        padding: 5px 0;
    }
    .services-title{
        padding: 5px 0;

    }
    .nav-section{
        padding: 18px 0;
    }
    .second-container{
        overflow: hidden;
    }
    .container{
        overflow: hidden;
    }
    .services-list ul{
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    column-gap: 3%;
}
.services-list li{
    font-size: 14px;
}
.about-us{
    padding: 30px 0 0 0;
}
.about-us h3 {
    width: 100%;
    
  }
  .works{
    margin: 0;
  }

  .works h6{
    font-size: 8px;
  }
  .works h3{
    font-size: 25px;
    margin-bottom: 10px;
  }
  .accordion-item-header{
    padding: 5px;
  }
  .accordion-item-header h4{
    font-size: 17px;
  }
  .accordion-item i{
    font-size: 11px;
  }
  .accordion-item-content p{
    font-size: 11px;
    line-height: normal;
}
.works-wrapper{
    padding: 20px !important; 
}
.achievement-wrapper{
    flex-direction: column;
    gap: 30px;
}
.achievement-1:nth-child(2)::before, .achievement-1:nth-child(3)::before{
    display: none;
}
.achievement-1{
    width: 100%;
    padding: 10px 0;
}
.achievement-1 h3{
    font-size: 25px;
    width: 80%;
}
.achievement-1 p{
    font-size: 11px;
    line-height: 14px;
}
.achievements{
    padding-top: 26px;
    margin: 20px 0;
}
.about-us-section{
    margin-bottom: 16px;
}
.width-container{
    display: none;
}
.works-container{
    display: flex;
    justify-content: center;
    background-size: 110%;
    margin: 30px 0;
    padding: 15px 0;
    background-position: initial;
}

.about-us-section .container{
    padding: 10px 0;
}
.about-us-section .works-container{
    padding: 20px 0;
    background-size: 110%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.about-us-section p {
    margin-bottom: 30px;
    font-size: 13px;
    line-height: normal;
}
.contact-btn button{
    padding: 10px;
    font-size: 11px;
}
.opencontactbtn span::before{
    padding: 11px 19px;
    left: -8px;
    bottom: 0px;
}
.opencontactbtn span::after{
    left: -15px;
    bottom: 0px;
    padding: 10px;
}
.quotes-wrapper{
    flex-direction: column;
}
.quote-1{
    padding: 5px 0;
    background-size:45px ;
    width: 100%;
}
.quote-1 p{
    padding: 0;
    font-size: 12px;
}
.quote-1 h5{
    font-size: 12px;
    padding: 0;
    padding-top: 10px;
}
.contact-input{
    display: block !important;
}
.contact-section button{
    height: 37px;
    font-size: 14px;
}
.contact-section p{
    margin: 0;
}
.contact-input input{
    font-size: 13px;
    height: 38px;
}
.contact-section .works-container {
    padding: 30px 0;
}
.contact-section .checkbox p{
    line-height: normal;
}
input[type="checkbox"]{
    padding: 6px;
}
.footer-wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email-log-in {
    width: 100%;
}
.phone-number{
    padding: 20px 0;
}
.footer-contact {
    width: 100%;
    margin-top: 30px;
}
.footer-menu{
width: 100%;
margin-top: 30px;
}
.footer-social-media a{
    padding: 12px 21px;
}
.footer-social-media i{
    font-size: 12px;
    right: 15px;
    top: 14px;
}
.footer-final{
    font-size: 12px;
    line-height: normal;
}
.footer-social-media li:last-child a {
    padding: 11px;
}
.footer {
    padding: 15px 0;
  }
  .footer .container:nth-child(2) {
    padding: 20px 0 10px 0;
    margin-top: 27px;
    gap: 40px;
}
.call-button{
    bottom: 58px;
}
.call-button a{
    padding: 15px 24px;
}
.call-button i{
    font-size: 12px;
    left: 19px;
    top: 17px;
}
.back-to-top.show{
    bottom: 40px;
}
  }
  @media screen and (max-width: 850px) and (min-width:600px){
    .contact-input{
        display: block;
    }
    .contact-input input{
        width: 100%;
    }
  }
  @media screen and (max-width: 1000px) and (min-width: 600px){

    .achievement-1{
        padding-bottom: 0;
    }
  }
